%h2 #{@conference.name} (#{@form_description.locale})

%p
  = link_to 'Edit', edit_conference_form_description_path(@conference, @form_description), class: 'btn btn-primary'

- %i(head_html plan_help_html booth_help_html policy_help_html).each do |field|
  %div
    %h4 #{field}
    = @form_description[field].html_safe
