.row.justify-content-center
  .col-md-4
    .card.mt-5.mb-3
      .card-body
        .d-flex.justify-content-between
          %div
            %code= @ticket.code
            %span -
            %code= @ticket.id
          %div= @ticket.conference.name

        .text-center.my-2
          %p{style: 'font-size: 26pt'}
            %strong= @ticket.name
          %small{style: 'font-size: 18pt'}
            %span= @ticket.sponsorship.name
          %p{style: 'font-size: 14pt'}
            %span.badge.badge-info= @ticket.kind

.checkin_button.text-center{data: {ticket_url: reception_conference_registration_path(@conference, code: @ticket.code)}}
  Loading...
