- content_for(:title) { t('.title') }

%h3= t('.header')

%p= t('.description')

.row.mt-3
  .col-md-4
  .col-md-4
    = form_tag(user_session_path) do
      - if params[:back_to].present?
        = hidden_field_tag :back_to, params[:back_to]
      .form-group
        .row
          .col-12
            = email_field_tag :email, '', required: true, placeholder: t('.email_address'), class: 'form-control'
      .form-group
        .row
          .col-md-4
          .col-md-4
            = submit_tag t('.submit'), class: 'btn btn-primary'
