%p
  #{@sponsor_org_name}
  %br
  #{@sponsor_contact_name} 様

%p
  #{@conference_name} のスポンサーシップへ申込み頂きありがとうございます。

- if @sponsorship.accepted?
  %p
    #{@sponsor_org_name} 様の申込みについては確定となります。
    確定後のキャンセルや、プランの変更などは原則承っていない旨、ご理解ください。
- else
  %p
    #{@sponsor_org_name} 様の申込みについては申込期間終了まで確定とはなりません。
    申込期間終了後のアナウンスをお待ちください。

%p
  なお、連絡事項を記入されている場合、必要に応じ追ってこちらから追加でご連絡を差し上げます。
  %br
  特に請求に関する依頼など、内容に問題がなく、こちら側で受け付けられる場合は個別に返答を差し上げない場合がある旨ご了承ください。

%p
  また、下記リンクからスポンサーポータルへログインすることができます。
  %br
  スポンサーポータルでは入力事項の修正や、最新のアナウンスをいつでも再確認する事が可能です。

= link_to @login_link, @login_link

%p
  このリンクは #{l(@login_link_expiry)} に失効しますが、失効するまで何度でも利用することができます。
  こちらは Web サイトより再度取得する事が可能です。

%p
  最後に、質問や相談等はお気軽に #{@email} で受け付けております。
  %br
  どうぞ引き続きよろしくお願い致します。

%p
  #{@team_name}
