= form_with(model: conference, local: true) do |form|
  - if conference.errors.any?
    .alert.alert-danger
      %p #{pluralize(conference.errors.count, "error")} prohibited this from being saved:
      %ul
        - conference.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control', required: true
  .form-group
    = form.label :contact_email_address
    = form.email_field :contact_email_address, class: 'form-control', required: true

  .form-group
    = form.label :application_opens_at
    = form.datetime_local_field :application_opens_at, class: 'form-control'
  .form-group
    = form.label :application_closes_at
    = form.datetime_local_field :application_closes_at, class: 'form-control'
  .form-group
    = form.label :amendment_closes_at
    = form.datetime_local_field :amendment_closes_at, class: 'form-control'
  .form-group
    = form.label :booth_capacity
    = form.number_field :booth_capacity, class: 'form-control'


  .form-group
    = form.submit class: 'btn btn-primary'
