%h1 Listing conferences

= link_to 'New', new_conference_path, class: 'btn btn-default'

%ul
  - @conferences.each do |conference|
    %li
      = link_to conference.name, conference
      (
      = link_to 'Edit', edit_conference_path(conference)
      = '|'
      = link_to 'Destroy', conference, method: :delete, data: {confirm: 'Are you sure?'}
      )
  
