.row.mb-2
  .col-md-8
    %h1= t('.header', name: @conference.name)

    %p= t('.desc1', conference: @conference.name)

    %ul
      %li
        %b= t('.onsite.head')
        = t('.onsite.desc')
      %li
        %b= t('.print_in_advance.head')
        = t('.print_in_advance.desc')

    %p= t('.desc2')

  .col-md-4
    .d-none.d-md-block
      .card.text-dark
        .card-body
          .py-2
            %img{src: new_code_user_conference_ticket_path(@conference, key: params[:key])}
          %p.card-text
            %small= t('.code_desc')


= form_with(model: @ticket, url: user_conference_ticket_path(@conference), local: true) do |form|
  = hidden_field_tag :ticket_key, @sponsorship.ticket_key
  .card.text-dark
    .card-body
      .form-group
        = form.label :name
        = form.text_field :name, class: 'form-control text-dark', required: true
        %small.form-text= t('.form.from', sponsorship: @sponsorship.name)
      .form-group
        = form.label :email
        = form.email_field :email, class: 'form-control text-dark'
        %small.form-text= t('.form.email_help')
      - if @sponsorship.booth_assigned?
        .form-group
          = form.label :kind
          .form-check
            = form.radio_button :kind, :attendee, class: 'form-check-input', checked: @ticket.attendee? || !@ticket.persisted?
            = form.label :kind, value: :attendee, class: 'form-check-label'
            %div
              %small= t('.form.attendee_help')
          .form-check
            = form.radio_button :kind, :booth_staff, class: 'form-check-input', checked: @ticket.booth_staff?
            = form.label :kind, value: :booth_staff, class: 'form-check-label'
            %div
              %small= t('.form.booth_staff_help')

      .form-group
        - # XXX: prepare this for attendees
        - desc = @conference.form_description_for_locale
        %p.form-text
          = t('.form.policy_help')
        = desc.policy_help_html&.html_safe

      .form-group
        = form.submit class: 'btn btn-primary'
        %small.form-text= t('.form.submit_help')
