%h1 #{@conference.name} Sponsor Ticket

.row
  .col-md-6
    .card.my-1.text-dark
      .card-body
        .row.justify-content-center
          .col-lg-8.text-center
            .pt-1.px-1.pb-3
              %img{src: code_user_conference_ticket_path(@conference)}
            %div.d-flex.justify-content-between{style: 'font-size: 24pt;'}
              - @ticket.code.each_char do |c|
                %span= c

  .col-md-6
    .card.mt-1.mb-3.text-dark
      .card-body
        %p.card-text
          #{@ticket.name}
          %br
          %small from #{@sponsorship.name}
          %br
          %small for #{@conference.name}
          %br
        %p.card-text
          .badge.badge-primary= @ticket.kind
          %br
          %code #{@conference.id}-#{@sponsorship.id}-#{@ticket.id}

    %p= t('.guide1')
    %p= t('.guide2')
    %p
      %small
        = t('.reissue_guide')
        = link_to t('.reissue_link'), new_user_conference_ticket_path(@conference, key: @sponsorship.ticket_key, force: 1)
