- conference = sponsorship.conference
- desc = conference.form_description_for_locale
= form_with(model: sponsorship, url: user_conference_sponsorship_path(conference), local: true, class: 'sponsorships_form') do |form|
  = hidden_field_tag :invite_code, params[:invite_code]

  - if sponsorship.errors.any?
    - I18n.with_options(scope: %i(errors template)) do |lo|
      .alert.alert-danger
        %p= lo.t :header, count: sponsorship.errors.count, model: sponsorship.class.name
        %ul
          - sponsorship.errors.full_messages.each do |message|
            %li= message

  %section.py-2
    .form-group
      %h2= t('.header', name: conference.name)
      = desc.head_html&.html_safe

  - if !sponsorship.persisted? && current_available_sponsorships
    %section.py-3
      .card
        %h5.card-header
          = t('.copy.header')
        .card-body
          %p.card-text= t('.copy.explanation')
          .form-group
            = select_tag "sponsorship_id_to_copy", options_for_select(current_available_sponsorships.map {|_| [_.conference.name, _.id] }, params[:sponsorship_id_to_copy]), class: 'form-control form-control-sm sponsorship_id_to_copy_selector', include_blank: true

  %section.py-2
    .form-group
      %h3= t('.contact')

    = form.fields_for :contact do |contact_form|
      .form-group
        = contact_form.label :email
        = contact_form.email_field :email, class: 'form-control', required: true
        %small.form-text= t('.email_help')

      .form-group
        = contact_form.label :email_cc
        = contact_form.text_field :email_cc, class: 'form-control', placeholder: 'cc1@example.com, cc2@example.com, ... (optional)'
        %small.form-text= t('.email_cc_help')

      .form-group
        = contact_form.label :address
        = contact_form.text_field :address, class: 'form-control', required: true

      .form-group
        = contact_form.label :organization
        = contact_form.text_field :organization, class: 'form-control', required: true

      .form-group
        = contact_form.label :unit
        = contact_form.text_field :unit, class: 'form-control', placeholder: t('.optional')

      .form-group
        = contact_form.label :name
        = contact_form.text_field :name, class: 'form-control', required: true

  %section.py-2.sponsorships_form_billing_contact
    .form-group
      %h3= t('.billing')
      = t('.billing_help')

    = form.fields_for :alternate_billing_contact do |contact_form|
      .form-group
        .form-check
          = contact_form.check_box :_keep, class: 'form-check-input'
          = contact_form.label :_keep, t('.specify_alternate_billing_contact'), class: 'form-check-label'

      %fieldset.d-none
        .form-group
          = contact_form.label :email
          = contact_form.email_field :email, class: 'form-control', required: true

        .form-group
          = contact_form.label :address
          = contact_form.text_field :address, class: 'form-control', required: true

        .form-group
          = contact_form.label :organization
          = contact_form.text_field :organization, class: 'form-control', required: true

        .form-group
          = contact_form.label :unit
          = contact_form.text_field :unit, class: 'form-control', placeholder: t('.optional')

        .form-group
          = contact_form.label :name
          = contact_form.text_field :name, class: 'form-control', required: true

    = form.fields_for :billing_request do |request_form|
      .form-group
        = request_form.label :body
        = request_form.text_area :body, class: 'form-control', aria: {describedby: 'billing_request_help'}
        %small.form-text#billing_request_help= t('.billing_request_help')

  %section.py-2
    .form-group
      %h3= t('.plan')
      = desc.plan_help_html&.html_safe

    %fieldset{disabled: @sponsorship.persisted? && @sponsorship.accepted?}
      .form-group.sponsorships_form_plans
        %h5= t('.plans')
        - conference.plans.each do |plan|
          .form-check
            %label.form-check-label
              = form.radio_button :plan_id, plan.id, checked: plan.id == @sponsorship.plan_id, class: 'form-check-input', disabled: !plan.available? && plan.id != @sponsorship.plan_id, data: {booth: plan.booth_eligible? ? '1' : '0', words_limit_help: t('.plan_explanation.words_limit', count: plan.words_limit), acceptance_help: plan.auto_acceptance ? t('.plan_explanation.auto_acceptance', plan: plan.name) : t('.plan_explanation.not_auto_acceptance', plan: plan.name), guests: plan.number_of_guests, plan_name: plan.name}
              = plan.name
              %small<
                #{plan.price_text}
                , #{t('.plan_explanation.guests', count: plan.number_of_guests)}
                - if plan.booth_eligible?
                  , #{t('.plan_explanation.booth', count: plan.booth_size)}
                - if plan.talkable?
                  , #{t('.plan_explanation.talk')}
              - case
              - when plan.sold_out?
                %small.badge.badge-danger= t('.plan_sold_out')
              - when plan.closed?
                %small.badge.badge-danger= t('.plan_closed')

        - if @conference.no_plan_allowed || (@sponsorship.persisted? && @sponsorship.plan_id == nil)
          .form-check
            %label.form-check-label
              = form.radio_button :plan_id, '', checked: @sponsorship.plan_id == nil && (@sponsorship.persisted? || @sponsorship.errors.any?), class: 'form-check-input', data: {other: '1', guests: 0, plan_name: 'Other'}
              Other

    = form.fields_for :customization_request do |request_form|
      .form-group
        = request_form.label :body
        = request_form.text_area :body, class: 'form-control sponsorships_form_customization_request'

  %section.py-2{class: @conference.booth_capacity > 0 ? '' : 'd-none'}
    .form-group
      %h3= t('.booth')
      = desc.booth_help_html&.html_safe

    .form-group.sponsorships_form_booth_request
      .form-check
        = form.check_box :booth_requested, class: 'form-check-input'
        = form.label :booth_requested, class: 'form-check-label'
      %small.d-none.sponsorships_form_booth_request_uneligible.form-text.text-small.text-info= t('.booth_uneligible_plan_selected', plans: conference.plans.select(&:booth_eligible?).map(&:name).join(', '))

  - if desc.fallback_options.present? && desc.fallback_options.any?
    %section.py-2.d-none.sponsorships_form_fallback_section{data: {locale_withdraw: t('.fallback_option_priority.withdraw'), locale_no_booth: t('.fallback_option_priority.no_booth'), locale_booth: t('.fallback_option_priority.booth')}}
      .form-group
        %h3= t('.fallback_option')
        %p.form-text= t('.fallback_option_help')

      .form-group
        = form.label :fallback_option
        = form.select :fallback_option, options_for_select(desc.fallback_options.map {|opt| [opt.name, opt.value, {data: opt.to_dataset}] }, sponsorship.fallback_option), {include_blank: t('.fallback_option_blank')}, class: 'form-control'

      .form-group
        .card.d-none.sponsorships_form_fallback_priority
          %h5.card-header= t('.fallback_priority.header')
          .card-body
            %p= t('.fallback_priority.help')
            %ol

  %section.py-2.sponsorships_form_info
    .form-group
      %h3= t('.information')

      %p= t('.information_help')

    .form-group
      = form.label :name
      = form.text_field :name, class: 'form-control', required: true

    .form-group
      = form.label :url
      = form.url_field :url, class: 'form-control', required: true, placeholder: 'https://...', pattern: '^https?://.+'

    .form-group
      = form.label :profile
      = form.text_area :profile, class: 'form-control', required: true
      %small.sponsorships_form_profile_help.form-text


    %div.py-3.sponsorships_form_info__warning.d-none{data: {warning_kind: 'english'}}
      .card
        %h5.card-header= t('.warnings.english.header')
        .card-body
          %p.card-text= t('.warnings.english.body1')
          %p.card-text= t('.warnings.english.body2')
          .form-group.mb-0
            .form-check
              %input.form-check-input#sponsorships_form_english_ack{type: 'checkbox'}
              %label.form-check-label{for: 'sponsorships_form_english_ack'}
                = t('.warnings.english.acknowledge')

  %section.py-2
    .form-group
      %h3= t('.logo')

      %p= t('.logo_help')
      %p= t('.logo_zip_help')

    .form-group.sponsorships_form_asset_file{data: {session_endpoint: sponsorship.asset_file&.persisted? ? initiate_update_user_conference_sponsorship_asset_file_path(conference, sponsorship.asset_file) : user_conference_sponsorship_asset_files_path, session_endpoint_method: 'POST'}}
      = form.hidden_field :asset_file_id
      = form.hidden_field :asset_file_id_to_copy unless sponsorship.persisted?
      .sponsorships_form_asset_file_form (Loading)

    - if sponsorship.persisted? && sponsorship.asset_file
      %small.form-text= link_to t('.download_logo'), user_conference_sponsorship_asset_file_path(conference, sponsorship.asset_file)

    %div.py-3.sponsorships_form_asset_file_form__warning.d-none{data: {warning_kind: 'zip_asset'}}
      .card
        %h5.card-header= t('.warnings.zip_asset.header')
        .card-body
          %ul.card-text
            %li= t('.warnings.zip_asset.item0')
            %li= t('.warnings.zip_asset.item1')
            %li= t('.warnings.zip_asset.item2')
            %li= t('.warnings.zip_asset.item3')
          .form-group.mb-0
            .form-check
              %input.form-check-input#sponsorships_form_zip_asset_ack{type: 'checkbox'}
              %label.form-check-label{for: 'sponsorships_form_zip_asset_ack'}
                = t('.warnings.zip_asset.acknowledge')

  - if conference.additional_attendees_registration_open
    %section.py-2.sponsorships_form_tickets
      .form-group
        %h3= t('.tickets')

        = desc.ticket_help_html&.html_safe

      .form-group.row
        .col-sm-5.text-sm-right
          %label= t('.tickets_included_in_plan')
        .col-sm-7
          .sponsorships_form_tickets__included_in_plan{style: 'padding-left: 0.75rem;'} -
      .form-group.row
        .col-sm-5.text-sm-right
          = form.label :number_of_additional_attendees, t('.tickets_additionally_request')
        .col-sm-7.sponsorships_form_tickets__additional_attendees
          = form.number_field :number_of_additional_attendees, class: 'form-control', min: 0
      .form-group.row
        .col-sm-5.text-sm-right
          %label= t('.tickets_total')
        .col-sm-7
          .sponsorships_form_tickets__total{style: 'padding-left: 0.75rem;'} -

  %section.py-2
    .form-group
      %h3= t('.note')

      %p= t('.others_help')

    = form.fields_for :note do |request_form|
      .form-group
        = request_form.label :body
        = request_form.text_area :body, class: 'form-control'

  %section.py-2
    .form-group
      %h3= t('.policies')

      %p= desc.policy_help_html&.html_safe

      .form-check
        = form.check_box :policy_agreement, class: 'form-check-input', required: true
        = form.label :policy_agreement, "", class: 'form-check-label'

    .form-group
      = form.submit t('.submit'), class: 'btn btn-primary', data: {disable_with: false}
      %small.form-text.sponsorships_acceptance_help

    .alert.alert-danger.submit_error.d-none
