%h2= t('.header', name: @conference.name)

.row.py-2
  .col-md-6
    .card.text-dark
      .card-header= t('.your_application')
      .card-body
        %h5.card-title= @sponsorship.name
        %p.card-text
          %a{href: @sponsorship.url}= @sponsorship.url
        %p.card-text= @sponsorship.profile

        %p.card-text
          = link_to t('.edit'), edit_user_conference_sponsorship_path(@conference), class: 'btn btn-primary'
          - if @conference.amendment_closes_at
            %p= t('.amendment_availability', ts: l(@conference.amendment_closes_at))

.row.py-2
  .col-md-12
    .card.text-dark
      .card-header= t('.contact')
      .card-body
        %p.card-text= t('.contact_help')
        %p.card-text
          %a{href: "mailto:#{@conference.contact_email_address}"}= @conference.contact_email_address
