%h2= t('.header', name: @conference.name)

.row.py-2
  .col-md-6
    .card.text-dark
      .card-header= t('.your_application')
      .card-body
        %h5.card-title= @sponsorship.name
        %p.card-text
          %a{href: @sponsorship.url}= @sponsorship.url
        %p.card-text= @sponsorship.profile

        %p.card-text
          = link_to t('.edit'), edit_user_conference_sponsorship_path(@conference), class: 'btn btn-primary'
          - if @conference.amendment_closes_at
            %p= t('.amendment_availability', ts: l(@conference.amendment_closes_at))

    - if @sponsorship.booth_assigned?
      .card.mt-2.text-dark
        .card-header= t('.booth_details.title')
        .card-body
          - if @sponsorship.exhibition
            %p.card-text
              - @sponsorship.exhibition.description.each_line do |l|
                = l
                %br
            %p.card-text= link_to t('.booth_details.edit'), edit_user_conference_sponsorship_exhibition_path(@conference), class: 'btn btn-primary'
          - else
            %p.card-text
              %span.badge.badge-danger= t('.booth_details.not_submitted')
            %p.card-text= link_to t('.booth_details.new'), new_user_conference_sponsorship_exhibition_path(@conference), class: 'btn btn-primary'

  .col-md-6
    .card.text-dark
      .card-header= t('.your_sponsorship_plan')
      .card-body
        - if @sponsorship.plan
          %h5.card-title= @sponsorship.plan.name
          - if @sponsorship.customized?
            %p.card-text #{t('.customized_plan')} (#{@sponsorship.customization_name})
          - if @sponsorship.plan.talkable?
            %p.card-text= t('.sponsor_talk_eligible')
          - case
          - when @sponsorship.booth_assigned
            %p.card-text= t('.booth.assigned')
          - when @sponsorship.booth_requested
            %p.card-text= t('.booth.requested')
          - when @sponsorship.plan&.booth_eligible?
            %p.card-text= t('.booth.eligible')
        - else
          %h5.card-title= t('.undetermined_plan')
          %p.card-text= t('.undetermined_plan_help')

    - if @sponsorship.booth_assigned? || @sponsorship.total_number_of_attendees > 0
      .card.mt-2.text-dark
        .card-header= t('.tickets.title')
        .card-body
          %ul.card-text
            %li
              %strong #{t('.total_number_of_guests')}:
              #{t('.guests_count', count: @sponsorship.total_number_of_attendees)}
              %ul
                - if @sponsorship.plan&.number_of_guests
                  %li #{t('.included_guests')}: #{t('.guests_count', count: @sponsorship.plan.number_of_guests)}
                - if @sponsorship.number_of_additional_attendees
                  %li #{t('.additional_guests')}: #{t('.guests_count', count: @sponsorship.number_of_additional_attendees)}
          %p.card-text
            %strong #{t('.tickets.your_url')}:
            %br
            - url = new_user_conference_ticket_url(@conference, key: @sponsorship.ticket_key)
            = link_to url, url
          %ul.card-text
            %li
              %small= t('.tickets.help.direction')
            %li
              %small= t('.tickets.help.requirement')
            %li
              %small= t('.tickets.help.unique')

- unless @announcements.empty?
  .row.py-2
    .col-md-12
      .card.text-dark
        .card-header= t('.announcements')
        %ul.list-group.list-group-flush
          - @announcements.each do |announcement|
            %li.list-group-item
              %h5{id: "announcement-#{announcement.issue}"}= announcement.title
              = announcement.html
              .text-right
                %small
                  %a.text-muted{href: "#announcement-#{announcement.issue}"}= l(announcement.published_at, format: :short)

.row.py-2
  .col-md-12
    .card.text-dark
      .card-header= t('.contact')
      .card-body
        %p.card-text= t('.contact_help')
        %p.card-text
          %a{href: "mailto:#{@conference.contact_email_address}"}= @conference.contact_email_address

