%nav{aria: {label: 'breadcrumb'}}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Admin', dashboard_path
    %li.breadcrumb-item= link_to 'Organizations', organizations_path
    %li.breadcrumb-item.active{aria: {current: 'page'}}= @organization.name

.d-md-flex.justify-content-between
  %h3= @organization.name
  %div
    = link_to "Edit", edit_organization_path(@organization), class: 'btn btn-primary'

.row
  .col-md-6
    .card
      %h5.card-header
        Organization Details
      .card-body
        %dl
          .row
            %dt.col-sm-5 Name
            %dd.col-sm-7= @organization.name
          .row
            %dt.col-sm-5 Domain
            %dd.col-sm-7
              %code= @organization.domain
          .row
            %dt.col-sm-5 Auto-acceptance
            %dd.col-sm-7
              - if @organization.auto_acceptance_disabled
                %span.badge.badge-warning Disabled
              - else
                %span.badge.badge-success Enabled

.row
  .col-md-12
    .card
      %h5.card-header
        Sponsorships History
      .card-body
        - if @sponsorships.empty?
          %p.card-text.text-muted No sponsorships yet
        - else
          %table.table.table-sm
            %thead
              %tr
                %th Conf
                %th Name
                %th Plan
                %th Custom
                %th Booth
                %th Status
            %tbody
              - @sponsorships.each do |sponsorship|
                %tr
                  %td
                    = link_to sponsorship.conference.name, conference_sponsorship_path(sponsorship.conference, sponsorship)
                  %td= sponsorship.name
                  %td
                    = sponsorship.plan.name
                  %td
                    = sponsorship.customization_name
                  %td
                    - if sponsorship.booth_assigned
                      %span.badge.badge-success Assigned
                    - elsif sponsorship.booth_requested
                      %span.badge.badge-info Requested
                    - else
                      %span.text-muted -
                  %td
                    - if sponsorship.withdrawn?
                      %span.badge.badge-danger Withdrawn
                    - elsif sponsorship.accepted?
                      %span.badge.badge-info Accepted
                    - else
                      %span.badge.badge-dark Pending
