= form_with(model: plan, url: [@conference, plan], local: true) do |form|
  - if plan.errors.any?
    .alert.alert-danger
      %p #{pluralize(plan.errors.count, "error")} prohibited this from being saved:
      %ul
        - plan.errors.full_messages.each do |message|
          %li= message

  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'

  .form-group
    = form.label :summary
    = form.text_field :summary, class: 'form-control'

  .form-group
    = form.label :rank
    = form.number_field :rank, class: 'form-control'

  .form-group
    = form.label :price_text
    = form.text_field :price_text, class: 'form-control'

  .form-group
    = form.label :capacity
    = form.number_field :capacity, class: 'form-control'

  .form-group
    = form.label :number_of_guests
    = form.number_field :number_of_guests, class: 'form-control'

  .form-group
    = form.label :booth_size
    = form.number_field :booth_size, class: 'form-control'

  .form-group
    = form.label :words_limit
    = form.number_field :words_limit, class: 'form-control'

  .form-group
    = form.label :closes_at
    = form.datetime_local_field :closes_at, class: 'form-control'

  .form-group
    .form-check
      %label.form-check-label
        = form.check_box :talkable, class: 'form-check-input'
        = form.label :talkable, "", class: 'form-check-label'

  .form-group
    .form-check
      %label.form-check-label
        = form.check_box :auto_acceptance, class: 'form-check-input'
        = form.label :auto_acceptance, "", class: 'form-check-label'

  .form-group
    = form.submit class: 'btn btn-primary'
