%p
  #{@sponsor_org_name}
  %br
  #{@sponsor_contact_name} 様

%p
  #{@conference_name} のスポンサーシップへ申込み頂きありがとうございます。

%p
  連絡事項の内容によっては追ってこちらから追加でご連絡さしあげます。
  %br
  特に請求に関する依頼など、内容に問題がなくこちら側で受け付けられる場合は個別に返答を差し上げない場合がある旨ご了承ください。

%p
  また、下記リンクからスポンサーポータルへログインすることができます。
  %br
  スポンサーポータルでは入力事項の修正や、最新のアナウンスをいつでも再確認する事が可能です。

= link_to @login_link, @login_link

%p
  このリンクは #{l(@login_link_expiry)} に失効しますが、失効するまで何度でも利用することができます。
  こちらは Web サイトより再度取得する事が可能です。

%p
  最後に、質問や相談等はお気軽に #{@email} で受け付けております。
  %br
  どうぞ引き続きよろしくお願い致します。

%p
  #{@team_name}
