- content_for(:title) { t('.title', sponsorship: @sponsorship.name) }

%nav{aria: {label: 'breadcrumb'}}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to @conference.name, conference_path(@conference)
    %li.breadcrumb-item Sponsorships
    %li.breadcrumb-item.active{aria: {current: 'page'}}= @sponsorship.name

.d-md-flex.justify-content-between
  %h3 #{@sponsorship.name}
  %div
    = link_to "Edit", edit_conference_sponsorship_path(@conference, @sponsorship), class: 'btn btn-primary'
    = link_to "History", conference_sponsorship_editing_histories_path(@conference, @sponsorship), class: 'btn btn-secondary'
    = link_to "Compose Email", front_mail_to_link(@sponsorship.contact.email, from: @conference.contact_email_address), class: 'btn btn-info', target: '_blank'

.row
  .col-md-8
    .row
      .col-md-6
        .card
          %h5.card-header
            Basic Information
          .card-body
            %p.card-text
              - if @sponsorship.suspended?
                %span.badge.badge-warning Presence Suspended
              - if @sponsorship.withdrawn?
                %span.badge.badge-danger Withdrawn
              - if @sponsorship.accepted?
                %span.badge.badge-info Accepted
              - else
                %span.badge.badge-dark Not accepted
            %dl
              .row
                %dt.col-sm-4 Locale
                %dd.col-sm-8= @sponsorship.locale
              .row
                %dt.col-sm-4 Assets
                %dd.col-sm-8
                  &#x1F4C1;
                  = link_to 'Download', download_asset_conference_sponsorship_path(@conference, @sponsorship), class: 'card-link'
              .row
                %dt.col-sm-4 Booth
                %dd.col-sm-8
                  - case
                  - when @sponsorship.booth_assigned && !@sponsorship.booth_requested
                    &#x1F381; Assigned but Not requested (!?)
                  - when !@sponsorship.plan&.booth_eligible? && (@sponsorship.booth_assigned)
                    &#x1F49D; Not Eligible but Assigned (!?)
                  - when !@sponsorship.plan&.booth_eligible? && (@sponsorship.booth_requested)
                    &#x2753; Not Eligible but Requested (!?)
                  - when @sponsorship.booth_assigned
                    &#x2705; Assigned
                  - when @sponsorship.booth_requested
                    &#x1F5F3;&#xFE0F; Requested
                  - when @sponsorship.plan&.booth_eligible?
                    Eligible
                  - else
                    N/A

            %h5.card-title Plan

            - if @sponsorship.plan
              %p.card-text= @sponsorship.plan.name
            - else @sponsorship.plan
              %p.card-text
                %span.badge.badge-danger UNDETERMINED

            - if @sponsorship.fallback_option.present?
              %p.card-text.small
                Fallback:
                %code= @sponsorship.fallback_option

            - case
            - when @sponsorship.customized?
              %p.card-text Shown as: #{@sponsorship.customization_name}
            - when @sponsorship.customization_planned?
              %p.card-text
                #{@sponsorship.customization_name}
                %span.badge.badge-warning Custom Plan: Tentative

        .card.mt-2
          %h5.card-header
            Organization
          .card-body
            %p.card-text
              = link_to @sponsorship.organization.name, organization_path(@sponsorship.organization)

      .col-md-6
        .card
          %h5.card-header
            Invitations
          .card-body
            .row
              %dt.col-sm-4 Included
              %dd.col-sm-4= @sponsorship.plan&.number_of_guests || 0
            .row
              %dt.col-sm-4 Additional
              %dd.col-sm-4= @sponsorship.number_of_additional_attendees || 0
            .row
              %dt.col-sm-4 Total
              %dd.col-sm-4= @sponsorship.total_number_of_attendees
            - if @conference.tito_slug.present?
              .row
                .col-sm-12
                  %strong Tito Registration:
                  - if @sponsorship.tito_attendee_discount_code
                    = link_to "Attendee", @sponsorship.tito_attendee_discount_code.url
                  - if @sponsorship.tito_booth_staff_discount_code
                    = link_to "Exhibitor", @sponsorship.tito_booth_staff_discount_code.url
                  - if @sponsorship.tito_booth_paid_discount_code
                    = link_to "Exhibitor (Paid)", @sponsorship.tito_booth_paid_discount_code.url
              .row
                .col-sm-12
                  %strong Tito Admin:
                  - if @sponsorship.tito_attendee_discount_code
                    = link_to "Attendee", @sponsorship.tito_attendee_discount_code.dashboard_orders_url
                  - if @sponsorship.tito_booth_staff_discount_code
                    = link_to "Exhibitor", @sponsorship.tito_booth_staff_discount_code.dashboard_orders_url
                  - if @sponsorship.tito_booth_paid_discount_code
                    = link_to "Exhibitor (Paid)", @sponsorship.tito_booth_paid_discount_code.dashboard_orders_url
        .card
          %h5.card-header
            Requests
          .card-body
            - if @sponsorship.customization_request&.body&.present?
              %h5.card-title Customization
              %p.card-text
                - @sponsorship.customization_request.body.each_line do |l|
                  = l
                  %br

            - if @sponsorship.billing_request&.body&.present?
              %h5.card-title Billing
              %p.card-text
                - @sponsorship.billing_request.body.each_line do |l|
                  = l
                  %br

            - if @sponsorship.note&.body&.present?
              %h5.card-title Others
              %p.card-text
                - @sponsorship.note.body.each_line do |l|
                  = l
                  %br

        - if @sponsorship.booth_assigned?
          .card.mt-2
            %h5.card-header
              Booth Details
            .card-body
              - if @sponsorship.exhibition
                %p.card-text
                  - @sponsorship.exhibition.description.each_line do |l|
                    = l
                    %br
              - else
                %p.card-text
                  %span.badge.badge-warning Not submitted

        - events = @sponsorship.sponsor_events.by_starts_at
        - if events.any?
          .card.mt-2
            %h5.card-header
              Events
            %ul.list-group.list-group-flush
              - events.each do |event|
                %li.list-group-item.d-flex.justify-content-between.align-items-center
                  = link_to event.title, conference_sponsor_event_path(@conference, event)
                  - case event.status
                  - when 'pending'
                    %span.badge.badge-warning pending
                  - when 'accepted'
                    %span.badge.badge-success accepted
                  - when 'rejected'
                    %span.badge.badge-danger rejected
                  - when 'withdrawn'
                    %span.badge.badge-secondary withdrawn

    .row
      .col-md-12
        .card.mt-2
          %h5.card-header
            Introduction
          .card-body
            %h5.card-title= @sponsorship.name
            %p.card-text= @sponsorship.profile
            .d-flex.justify-content-between
              %a.card-link{href: @sponsorship.url, target: '_blank'}= @sponsorship.url
              %small
                #{@sponsorship.word_count} words
                - if @sponsorship.plan&.words_limit
                  #{@sponsorship.plan.words_limit} or #{@sponsorship.plan.words_limit_hard&.to_i}
  .col-md-4
    .card
      .card-header.d-flex.justify-content-between
        %h5.my-auto Notes
        = link_to "Show All", conference_sponsorship_staff_notes_path(@conference, @sponsorship), class: 'btn btn-default small'
      %ul.list-group.list-group-flush
        %li.list-group-item
          = render 'admin/sponsorship_staff_notes/form', staff_note: @new_staff_note
        - [*@pinned_staff_notes, *@staff_notes].each do |note|
          %li.list-group-item
            = render 'admin/sponsorship_staff_notes/item', staff_note: note


.row.mt-2
  .col-md-4
    .card
      %h5.card-header Contact
      .card-body
        .row
        %p.card-text
          #{@sponsorship.contact.name}
          = link_to @sponsorship.contact.email, front_mail_to_link(@sponsorship.contact.email, from: @conference.contact_email_address), target: '_blank'
        %p.card-text
          - if @sponsorship.contact.unit
            = @sponsorship.contact.unit
            %br
          = @sponsorship.contact.organization
        %p.card-text
          = @sponsorship.contact.address

  .col-md-4
    .card
      %h5.card-header
        Billing
        - if @sponsorship.alternate_billing_contact
          %span.badge.badge-danger Alternate billing contact specified
      .card-body
        %p.card-text
          #{@sponsorship.billing_contact.name}
          = link_to @sponsorship.billing_contact.email, front_mail_to_link(@sponsorship.billing_contact.email, from: @conference.contact_email_address), target: '_blank'
        %p.card-text
          - if @sponsorship.billing_contact.unit
            = @sponsorship.billing_contact.unit
            %br
          = @sponsorship.billing_contact.organization
        %p.card-text
          = @sponsorship.billing_contact.address


.row.mt-4
  .col-md-8
    %section.card.border-danger
      .card-header.bg-danger.text-white Danger Zone
      .card-body
        %p.card-text
          - if @sponsorship.withdrawn?
          - else
            = link_to "Withdraw", conference_sponsorship_path(@conference, @sponsorship), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
          - if Rails.configuration.x.dev.sponsor_impersonation
            = link_to "Impersonate", conference_sponsorship_impersonation_path(@conference, @sponsorship), method: :post, class: 'btn btn-warning'

