!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %title= yield(:title) || 'sponsor-app'
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', media: 'all'

    - if Rails.application.config.x.sentry.dsn.present?
      %script= "window.SENTRY_DSN = '#{Rails.application.config.x.sentry.dsn}'"
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark
      %a.navbar-brand{href: '/'}= t('.brand')
      %button.navbar-toggler{type: :button, data: {toggle: :collapse, target: '#navbarNavAltMarkup'}, aria: {controls: 'navbarNavAltMarkup', expanded: false, label: 'Toggle navigation'}}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNavAltMarkup
        .navbar-nav
          %a.nav-item.nav-link{href: user_conferences_path}= t('.conferences')

      .collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item.dropdown
            .nav-link.dropdown-toggle#navbarDropdownMenuLink{href: '#', role: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'}} Language
            .dropdown-menu{aria: {labelledby: 'navbarDropdownMenuLink'}}
              %a.dropdown-item{href: url_for(params.to_unsafe_h.merge(only_path: true, hl: 'en'))} English
              %a.dropdown-item{href: url_for(params.to_unsafe_h.merge(only_path: true, hl: 'ja'))} Japanese
          - if current_staff
            %li.nav-item
              = link_to dashboard_path() do
                %span.badge.badge-danger STAFF MODE
          %li.nav-item
            - if current_sponsorship
              = link_to t('.logout'), user_session_path, method: :delete, class: 'nav-link'
            - else
              -# back_to: url_for(params.to_unsafe_h.merge(only_path: true))
              %a.nav-link{href: new_user_session_path()}= t('.login')
    .container
      - if notice
        .alert.alert-success.mt-5.mb-2= notice

      - if flash[:alert]
        .alert.alert-danger.mt-5.mb-2= flash[:alert]

      %main
        = yield
    = javascript_pack_tag 'application'
